<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/group.css}" />
	<title>My Web Chat - Group Chat</title>
</head>
<body>
<div class="nk-container">
	<!-- 头部 -->
	<header class="bg-dark sticky-top" th:replace="index::header">
	</header>

	<!-- 内容 -->
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-8">
					<h6><b class="square"></b> <i class="text-success" th:text="${group.name}">Group Name</i></h6>
				</div>

				<div class="col-8">
				<button type="button" class="btn btn-secondary btn-sm" th:if="${user.id==group.ownerId}" onclick="toSetting();">Setting</button>
				</div>

				<div class="col-4 text-right">
					<button type="button" class="btn btn-secondary btn-sm" onclick="back();">Back</button>
				</div>
				<input type="hidden" id="group-id" th:value="${group.id}">
			</div>

			<div class="row mt-4">
				<!-- 群组成员列表 -->
				<div class="col-3">
					<h6>Members</h6>
					<ul class="list-unstyled" id="memberList">
						<!-- 群组成员 -->
						<li th:each="member : ${members}" class="media mb-3">
							<img th:src="${member.headerUrl}" class="mr-3 rounded-circle user-header" alt="user header">
							<div class="media-body">
								<h6 class="mt-0" th:text="${member.username}">Username</h6>
							</div>
						</li>
					</ul>
				</div>

				<!-- 聊天内容区域 -->
				<div class="col-9">
					<ul class="list-unstyled" id="chatArea">
						<!-- 使用 JS 动态加载聊天内容 -->
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- 输入框 -->
	<div class="fixed-bottom bg-light p-3" style="border-top: 1px solid #ccc;">
		<div class="input-group">
			<textarea class="form-control" id="message-text" placeholder="Enter message" rows="1"></textarea>
			<div class="input-group-append">
				<button class="btn btn-primary" type="button" id="sendBtn">Send</button>
			</div>
		</div>
	</div>

	<!-- 尾部 -->
	<footer class="bg-dark" th:replace="~{index::footer}">
	</footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/group-letter.js}"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
	var thisUserId = /*[[${user.id}]]*/ 'defaultUserId';
	var thisHeader = /*[[${user.headerUrl}]]*/ 'defaultHeaderUrl';
	var group = /*[[${group}]]*/ {};
	var members = /*[[${members}]]*/ [];
	var letters = /*[[${letters}]]*/ [];
	/*]]>*/
</script>
<script>
	const webSocket = new WebSocket((location.protocol === "https:" ? "wss://" : "ws://") + location.hostname + ":" + location.port + CONTEXT_PATH + "/chatapp?groupId=" + $("#group-id").val());

	webSocket.onerror = (error) => {
		console.error("WebSocket Error: ", error);
	};
</script>
</body>
</html>
