<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/self_profile.js"></script>
<!--    <script th:inline="javascript">-->

<!--        $(document).ready(function() {-->
<!--            $('button[data-group-key]').each(function() {-->
<!--                var groupKey = $(this).attr('data-group-key');-->
<!--                console.log(groupKey);-->
<!--                $(this).on('click', function() {-->
<!--                    window.location.href = '/group/' + groupKey;-->
<!--                });-->
<!--            });-->
<!--        });-->
<!--    </script>-->
</head>
<body>
    <div>
        <p>Profile</p>
        <p>Username: <span th:text="${username}">Default Name</span></p>
        <p>Email: <span th:text="${email}">Default email</span></p>
        <p>Header Url: <span th:text="${headerUrl}">Default email</span></p>
    </div>

    <div>
        <p>My Friends:</p>
        <div th:each="entry : ${friends}">
            <button type="button" id="btn-friend-profile"
                    th:value="${entry.value}"
                    th:text="${entry.value}"
                    style="display: inline-block;">
            </button>
            <br>
        </div>
    </div>

    <div>
        <p>Find User</p>
        <input id="user-name" placeholder="type the username">
        <button id="btn-search">Search</button>
        <div id="message"></div>
    </div>


    <div>
        <p>My Groups:</p>
        <div th:each="entry : ${joinedGroups}">
            <button type="button" id="btn-group"
                    th:value="${entry.key}"
                    th:text="${entry.value}"
                    style="display: inline-block;">
            </button>
            <br>
        </div>
    </div>

    <div>
        <p>Join Group</p>
        <input id="group-id" placeholder="type the group id">
        <button id="btn-join">Join</button>
    </div>

    <div>
        <p>Create Group</p>
        <input id="group-name" placeholder="type the group name">
        <button id="btn-create">Join</button>
    </div>


</body>
</html>

