<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/chat.js"></script>
    <script th:inline="javascript">

        const webSocket = new WebSocket("ws://" + location.hostname + ":" + location.port + "/chatapp");
    </script>
</head>
<body>
    <div>
        <p><span th:text="${targetUsername}">Default Name</span></p>
    </div>

    <input type="hidden" id="username" th:value="${username}"/>
    <input type="hidden" id="targetUsername" th:value="${targetUsername}"/>

    <div>
        <p>Messages</p>
        <input id="msg" placeholder="type the message">
        <button id="btn-send">Send</button>
    </div>

    <div id="chatArea" style="border: 1px solid #000; margin-bottom: 10px;">
        <p th:each="msg : ${messageLog}"></p>
    </div>
</body>
</html>

