<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hello</title>
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/group.js"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    const webSocket = new WebSocket("ws://" + location.hostname + ":" + location.port + "/chatapp?groupId=" + [[${groupId}]]);
    /*]]>*/
  </script>
</head>
<body>
<div>
  <p>Group: <span th:text="${groupName}">Default Group Name</span></p>
  <button id="btn-leave" th:value="${groupId}">Leave Group</button>
</div>
<div>
  <button id="btn-back" onclick="window.location.href='/index'">Back</button>
</div>
<br>
<div>
  <p>Group Members:</p>
  <div th:each="member : ${members}">
    <p th:text="${member}">Member Name</p>
  </div>
</div>
<br>
<br>
<div>
  <button id="msg-general" value="general">General</button>
  <button id="msg-anonymous" value="anonymous">Anonymous</button>
  <button id="msg-emphasis" value="emphasis">Emphasis</button>
  <button id="msg-important" value="important">Important</button>
</div>
<div id="sendChat">
  <input id="message" placeholder="type your message">
  <button id="btn-msg">Send Message</button>
</div>
<div id="chatArea" style="border: 1px solid #000; margin-bottom: 10px;">
  <div th:each="message : ${messageLog}">
    <p th:text="${message}"></p>
  </div>

  <p th:each="msg : ${messageLog}"></p>
</div>
</body>
</html>
