<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/profile.js"></script>

</head>
<body>
    <div>
        <p>Profile</p>
        <p>Username: <span th:text="${username}">Default Name</span></p>
        <p>Email: <span th:text="${email}">Default email</span></p>
        <p>Header Url: <span th:text="${headerUrl}">Default email</span></p>
    </div>

    <div>
        <input type="hidden" id="username" th:value="${username}"/>
    </div>

    <div>
        <button id="btn-friendship" th:text="${status}">Add Friend</button>
        <button id="btn-chat" th:if="${chat}" th:value="${username}">Chat</button>
    </div>

</body>
</html>

