<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.rice.wecommunity.dao.NoticeMapper">

    <sql id="selectFields">
        id, from_id, to_id, topic, entity_type, entity_id, status, create_time
    </sql>

    <sql id="insertFields">
        from_id, to_id, topic, entity_type, entity_id, status, create_time
    </sql>

    <select id="selectLatestNotice" resultType="Notice">
        select <include refid="selectFields"></include>
        from notice
        where id in (
        select max(id) from notice
        where status != 2
        and to_id = #{userId}
        and topic = #{topic}
        )
    </select>

    <update id="updateStatus">
        update notice set status = #{status}
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <insert id="insertNotice" parameterType="Notice" keyProperty="id">
        insert into notice(<include refid="insertFields"></include>)
        values(#{fromId},#{toId},#{topic},#{entityType},#{entityId},#{status},#{createTime})
    </insert>

    <insert id="batchInsertNotices" parameterType="java.util.List">
        INSERT INTO notice (id, from_id, to_id, topic, entity_type, entity_id, status, create_time)
        VALUES
        <foreach collection="noticeList" item="notice" separator=",">
            (#{notice.id}, #{notice.fromId}, #{notice.toId}, #{notice.topic}, #{notice.entityType}, #{notice.entityId}, #{notice.status}, #{notice.createTime})
        </foreach>
    </insert>

    <select id="selectNoticeCount" resultType="int">
        select count(id) from notice
        where status != 2
        and to_id = #{userId}
        and topic = #{topic}
    </select>

    <select id="selectNoticeUnreadCount" resultType="int">
        select count(id) from notice
        where status = 0
        and to_id = #{userId}
        <if test="topic!=null">
            and topic = #{topic}
        </if>
    </select>

    <select id="selectNotices" resultType="Notice">
        select <include refid="selectFields"></include>
        from notice
        where status != 2
        and to_id = #{userId}
        and topic = #{topic}
        order by create_time desc
        limit #{offset}, #{limit}
    </select>

</mapper>